<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px;" align="center" class="m_7924915037572053127mdv2rw">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4U_GKwq-Hsj6zUZE16VE9ldyc-KjzMiuRvg&usqp=CAU" width="74" height="74" aria-hidden="true" style="margin-bottom:5px" alt="Google" class="CToWUd" data-bit="iit">
        <div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:none #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
            <div style="font-size:24px">Thông báo phỏng vấn </div>
            <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:5px;text-align:justify">
                Chúng tôi xin thông báo bạn đã được mời phỏng vấn cho vị trí [POSITION] vào thời gian [DATE] tại công ty chúng tôi

            </div>
        </div>

</html>